<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.XLS" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.12.14.15040" newVersion="7.12.14.15040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.99.15040" newVersion="3.9.99.15040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Doc" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.9.8.15040" newVersion="5.9.8.15040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Presentation" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.5.15040" newVersion="2.8.5.15040" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>